#navBar {
    background-color: var(--base-color);
    margin: 0;
    border: 0;
    border-bottom: .1rem solid var(--secondary-color-step-900);
    position: fixed;
    width: 100%;
    z-index: 999;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.navbar-toggler {
    border: .1rem solid var(--secondary-color-step-900);
}

.dropdown-menu {
    background-color: var(--secondary-color-step-900);
}

.tabs>a:hover {
    color: var(--secondary-color-step-900);
}

.tabs>a, footer>p>a {
    color: white;
    text-decoration: none;
    padding-bottom: .3rem;
}

.hvr-underline-from-center:hover {
    color: var(--secondary-color-step-900);
}

.tabs {
    padding-right: 2rem;
}

#whoAmIText
{
    margin: 2% 0;
}

#whoAmIImg
{
    width: 50%;
    height: 50%;
    border-radius: 50%;
    align-self: center;
}

#who
{
    background-color: var(--secondary-color-step-600);
}

#what
{
    background-color: var(--base-color-step-600);
    color: white;
    border-bottom: .3rem solid var(--tertiary-color-step-700);
}

#where
{
    background-color: var(--tertiary-color);
    color: white;
}

body {
    font: 20px Montserrat, sans-serif;
    line-height: 1.8;
    color: #f5f6f7;
}




p {
    font-size: 16px;
}

.margin {
    margin-bottom: 45px;
}

.bg-4 {
    background-color: #2f2f2f;
    /* Black Gray */
    color: #fff;
}

.container-fluid {
    padding-top: 70px;
    padding-bottom: 70px;
}

.navbar {
    padding-top: 15px;
    padding-bottom: 15px;
    border: 0;
    border-radius: 0;
    margin-bottom: 0;
    font-size: 12px;
    letter-spacing: 5px;
}