<div class="container-fluid">
  <div class="row">
    <div class="col-1"></div>
    <div class="col-10">
      <app-cabecera></app-cabecera>
      <div class="row">
        <ul class="list-group">
          <li class="list-group-item list-group-item-danger">
            <div class="media-body">
              <div class="hero-text">
                <h4>Menú Principal</h4>
              </div>
            </div>
          </li>
          
          <li class="list-group-item list-group-item-success" *ngFor='let contenido of content'>
            <div class="col-sm-12">
              <a routerLink="{{contenido.link}}">
                <div class="media">
                  <div class="col-sm-2">
                    <img src="{{contenido.img}}" class="media-object imagenDeMenu">
                  </div>
                  <div class="col-sm-10">
                    <div class="media-body">
                      <h4 class="media-heading">{{contenido.heading}}</h4>
                      <p>{{contenido.content}}</p>
                    </div>
                  </div>
                </div>
              </a>
            </div>
          </li>
        </ul>
      </div>
    </div>
    <div class="col-1"></div>
  </div>
</div>