th {
    text-align: center;
}

.texto {
    margin-left: 2rem;
}

a {
    color: #fdfdfd;
}

.img-col {
    height: 100%;
}

img {
    float: left;
    width: 100%;
    height: 100%;
    margin-right: 3rem;
}

tr {
    border-bottom: 0.1rem solid grey;
}

#menuPrincipal
{
    font-size: 2rem;
}