.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px; /* 5px rounded corners */
    max-width: 300px;
   height: 100%;
    margin: 10px;
    padding-bottom: 10px;
    float: left;
  background-color: #DEF3A6;
    text-align: center;
}

/* Add rounded corners to the top left and the top right corner of the image */
img {
    border-radius: 5px 5px 0 0;
    width: 200px;
    height: 200px;
}/* Add some padding inside the card container */
.container {
    padding: 2px 16px;
}


.button{
    margin-left: 1px;
    display: inline-block;
    width: 90%;
    padding: 5px 15px;
    font-size: 24px;
    text-align: center;
    cursor: pointer;
    outline: none;
    color: #fff;
    background-color: #4CAF50;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;

    border: none;
    outline: 0;
 
    padding: 8px;
    color: white;
   /* background-color: #000;*/
    text-align: center;
    cursor: pointer;
    width: 100%;
  }
  
  .button:hover {background-color: #3e8e41}
  
  .button:active {
    background-color: #3e8e41;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }


  a
  {
    color: var(--secondary-background-color);
  }

  #play
  {
    width: 90%;
    margin-top: 1rem;
    background-color: var(--secondary-background-color);
  }

  .flip-card {
    background-color: transparent;
    width: 35rem;
    height: 25rem;
    border: 1px solid #f1f1f1;
    perspective: 1000px; /* Remove this if you don't want the 3D effect */
  }

  .flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.8s;
    transform-style: preserve-3d;
  }

  .flip-card:hover .flip-card-inner {
    transform: rotateY(180deg);
  }

  .flip-card-front, .flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
  }

  .flip-card-front {
    background-color: #bbb;
    color: black;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .flip-card-back {
    background-color: var(--main-color-step-200);
    color: white;
    transform: rotateY(180deg);
  }