<div class="container-fluid animated fadeIn">
  <div class="card-deck">
    <div class="card flip-card" *ngFor='let contenido of cardContent'>
        <div class="flip-card-inner">
          <div class="flip-card-front"  [style.background-image]="contenido.img" [attr.data-loc]="contenido.link">
          </div>
          <div class="card-body flip-card-back">
              <h1>{{contenido.title}}</h1>
              <p class="title">{{contenido.description}}</p>
              <p>UTN FRA</p>
              <div class="row">
                <div class="col-3 hvr-grow-shadow"><a href="#"><i class="fa fa-dribbble"></i></a></div>
                <div class="col-3 hvr-grow-shadow"><a href="#"><i class="fa fa-twitter"></i></a></div>
                <div class="col-3 hvr-grow-shadow"><a href="#"><i class="fa fa-linkedin"></i></a></div>
                <div class="col-3 hvr-grow-shadow"><a href="#"><i class="fa fa-facebook"></i></a></div>
              </div>
              <button id="play" class="block btn3d btn" (click)="Jugar(contenido.title)">Jugar</button>
          </div>
        </div>
    </div>
  </div>