#decline {
    background-color: red;
    color: white;
}

#accept {
    background-color: rgb(0, 255, 0);
    float: right;
    color: white;
}

#termsAndConditions {
    margin: 1% 2%;
    background-color: var(--tertiary-color);
    color: white;
}

#hint {
    color: white;
    font-size: .5rem;
}