<!--div style="margin: 20% auto; width: 30%;">
  <div class="row">
    <div class="col-lg-6">
      Usuario
    </div>
    <div class="col-lg-6">
      <input type="text"  [(ngModel)]="usuario">
    </div>
  </div>
  <div class="row" style="margin-top: 5px">
    <div class="col-lg-6">
      Clave
    </div>
    <div class="col-lg-6">
      <input type="password" [(ngModel)]="clave">
    </div>
  </div>
  <div class="row" style="text-align: center; margin-top: 10px">
    <div class="col-lg-12">
      <button (click)="Entrar()" class="btn btn-info btn-lg" >Entrar</button>
    </div>
  </div>
</div-->
<div class="container-fluid animated fadeIn">
<form class="form-group">
        <div class="imgcontainer">
          <img src="./assets/imagenes/login.png" alt="Avatar" class="img-fluid mx-auto d-block">
        </div>
    <mat-form-field appearance="outline" id="email">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" [(ngModel)]="usuario">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Ingrese un email valido
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        El  <strong>email</strong> es requerido 
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" id="clave">
      <mat-label>Clave</mat-label>
      <input matInput [formControl]="claveFormControl" [(ngModel)]="clave">
      <mat-error *ngIf="claveFormControl.hasError('required')">La <strong>clave</strong> es requerida</mat-error>
    </mat-form-field>
    <button mat-raised-button id="ingresar" class="btn form-control">Ingresar</button>
    <mat-checkbox>Recordar usuario</mat-checkbox>
    <form id="register" class="form-group">
      <a [routerLink]="['/']"><button mat-raised-button color="warn">Cancelar</button></a>
      <a id="registerBtn" [routerLink]="['/Registro']"><button mat-raised-button color="primary">Registrarse</button></a>
    </form>
  </form>
</div>
 <!-- <div class="container" >
  <div class="jumbotron" style="padding:50px;">
    <form action="return true;">
      <div class="imgcontainer">
        <img src="./assets/imagenes/login.png" alt="Avatar" class="avatar" max-width="104" >
      </div>

      <div class="container">
        <label><b>Usuario</b></label>
        <input type="text" placeholder="Usuario"  [(ngModel)]="usuario"  name="uname" required>

        <label><b>Clave</b></label>
        <input type="password" placeholder="Clave"  [(ngModel)]="clave" name="psw" required>
            
        <button *ngIf="logeando"  (click)="MoverBarraDeProgreso()" >Ingresar</button>
       
        <div *ngIf="!logeando" class="progress">
            <div class="progress-bar progress-bar-info progress-bar-striped active" [class]="clase" role="progressbar" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100" [style.width]="ProgresoDeAncho" >
              {{progresoMensaje}} - {{progreso}}%
            </div>
        </div>
       
        <input type="checkbox" checked="checked"> Recordar mis datos
      </div>

      <div class="container" style="background-color:#f1f1f1">
        <button type="button" class="cancelbtn">Cancelar</button>
        <button type="button" class="aceptbtn" routerLink="/Registro" >Registrarse</button>
        <span class="psw">Te olvidaste <a href="#">la clave?</a></span>
      </div>
     
    </form>
  </div>
</div> -->