.container-fluid
{
    height: 100vh;
}

#email, #clave
{
    width: 100%;
}

form
{
    background-color: #2962ff;
    padding: 1rem;
    margin-top: 1rem;
    padding-bottom: 5rem;
}

#ingresar
{
    background-color: var(--secondary-color-step-400);
    color: black;
    padding: .3rem 0rem .6rem;
    margin-bottom: 1rem;
}

#registerBtn
{
    position: relative;
    float: right;
}

#register
{
    margin-top: 1rem;
    margin-left: 0;
    margin-right: 0;
}

#register>button
{
    margin-right: 1rem; 
}

mat-label {
    color: white;
  }

mat-checkbox
{
    color: white;
}

img
{
    justify-self: center;
    width: 25%;
    margin-bottom: 1rem;
    border: 0;
}

#progressBar
{
    margin-bottom: 1%;
}