<div class="container-fluid animated fadeIn">
<form class="form-group">
        <div class="imgcontainer">
          <img src="./assets/imagenes/login.png" alt="Avatar" class="img-fluid mx-auto d-block">
        </div>
    <mat-form-field appearance="outline" id="email">
      <mat-label>Email</mat-label>
      <input matInput [formControl]="emailFormControl" [(ngModel)]="usuario">
      <mat-error *ngIf="emailFormControl.hasError('email') && !emailFormControl.hasError('required')">
        Ingrese un email valido
      </mat-error>
      <mat-error *ngIf="emailFormControl.hasError('required')">
        El  <strong>email</strong> es requerido 
      </mat-error>
    </mat-form-field>
    <mat-form-field appearance="outline" id="clave">
      <mat-label>Clave</mat-label>
      <input matInput [formControl]="claveFormControl" [(ngModel)]="clave">
      <mat-error *ngIf="claveFormControl.hasError('required')">La <strong>clave</strong> es requerida</mat-error>
    </mat-form-field>
    <button mat-raised-button id="ingresar" class="btn form-control" (click)="login()">Ingresar</button>
    <mat-checkbox>Recordar usuario</mat-checkbox>
    <form id="register" class="form-group">
      <a [routerLink]="['/']"><button mat-raised-button color="warn">Cancelar</button></a>
      <a id="registerBtn" [routerLink]="['/Registro']"><button mat-raised-button color="primary">Registrarse</button></a>
    </form>
  </form>
</div>