.container-fluid
{
    margin-top: 4rem;
    width: 100%;
    height: 100%;
    background-image: url("../../../assets/imagenes/cabecera.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    padding: 3rem 0;
    margin-bottom: -1rem;
}

.titulo, p
{
    text-align: center;
    color: #3E06B0;
}

#github
{
    float: right;
}