<div class="container-fluid fadeIn animated">
  <header>
      <h1 class="titulo" style="font-size:50px">Sala de Juegos</h1>
      <p>Agustín Gómez</p>
      <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="row" id="botones">
                <div class="col-6 h-100">
                    <button id="github" class="btn hvr-shadow hvr-fade" href="https://github.com/octaviovillegas" target="_blank">en GitHub <i class="fa fa-github"></i></button>
                  </div>
                  <div class="col-6 h-100">
                    <button class="btn hvr-shadow hvr-fade" routerLink="/QuienSoy">¿Quien Soy? <i class="fa fa-user"></i></button>
                  </div>
            </div>
        </div>
        <div class="col-3"></div>
      </div>
  </header>
</div>